@mixin CezembreLabel {
  @include JetBrainsMono(.9em);
  letter-spacing: .12em;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 12px;
  display: inline-block;
}

@mixin CezembreField {
  transition: border linear 100ms;
  border: solid $color-border 1px;
  background: white;
  border-radius: 5px;
  width: 100%;
  position: relative;

  &:hover {
    border-color: $color-placeholder;
  }

  &:focus {
    border-color: $color-lead;
  }

}

@import 'input';
@import 'textarea';
@import 'wysiwyg';
@import 'select';
@import 'checkbox';
@import 'switch';
@import 'dateTimePicker';
@import 'datePicker';
@import 'timePicker';
