@use '~@cezembre/fronts/dist/screens';
@use '../styles/colors';
@use '../styles/fonts';
@use "../styles/forms";

.cezembre-ui-fields-checkbox {
  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > label {
      @include fonts.JetBrainsMono(.8em, colors.$text-light, bold);
      letter-spacing: .05em;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 15px;
    }
  }

  &.checked {
    > .container > label {
      color: colors.$text;
    }
  }

  > .error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
