@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';
@use "../styles/forms";

.cezembre-ui-fields-date-picker {
  position: relative;

  > .picker {
    height: 300px;
    width: 265px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.expandable {
      @include layouts.popup();
      border: solid rgba(colors.$lead, .1) 1px;
      box-shadow: 0 0 10px rgba(colors.$lead, .2);
      position: absolute;
      background: colors.$lead-light;
      top: calc(100% + 5px);
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity linear 100ms;
    }

    &.expanded {
      visibility: visible;
      opacity: 1;
    }

    > .month {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > button {
        background: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 10px;
        cursor: pointer;
      }

      > span {
        @include fonts.JetBrainsMono(1em);
      }
    }

    > .days-of-week {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      > span {
        @include fonts.JetBrainsMono(.9em);
        text-transform: uppercase;
      }
    }

    > .days {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      align-items: center;

      > .day {
        @include fonts.JetBrainsMono(1em);
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;

        &:hover {
          background: rgba(colors.$lead, .1);
        }

        &:disabled {
          color: black;
          cursor: default;

          &:hover {
            background: none;
          }
        }

        &.selected {
          background: colors.$lead;
          color: colors.$lead-light;
        }
      }

      > .placeholder {
        width: 35px;
        height: 35px;
      }
    }
  }

  @include forms.error();
  @include forms.warning();
}
