@use '~@cezembre/fronts/dist/layouts';
@use '~@cezembre/fronts/dist/screens';
@use "../styles/fonts";
@use "../styles/forms";
@use "../styles/colors";

.cezembre-ui-input {
  width: 100%;

  > label {
    @include forms.label();
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    > .left-component {
      padding-left: 15px;
    }

    > input {
      @include fonts.JetBrainsMono();
      flex: 1;
      padding: 8px 12px;

      &, &:active, &:focus {
        border: none;
        outline: none;
        text-decoration: none;
        background: transparent;
      }

      &::placeholder {
        color: rgba(colors.$text-medium, .3);
        font-style: italic;
      }
    }

    > .suggestions {
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: white;
      width: 100%;
      top: 100%;
      transition: opacity linear 100ms;
      @include layouts.modal();

      > .suggestion {
        display: block;
        text-align: left;
        width: 100%;
        border: none;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        flex-shrink: 0;
        border-top: solid colors.$lead-light 1px;
        background: white;
        transition: background linear 100ms;

        &:first-child {
          border: none;
        }

        &:hover, &.selected {
          background: colors.$lead-light;
        }
      }
    }
  }

  &.suggestions-active {
    > .container > .suggestions {
      visibility: visible;
      opacity: 1;
    }
  }

  > .instructions {
    @include forms.instructions();

  }

  >.error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }

  &.field > .container {
    @include forms.input();
  }

  &.inline > .container > input::placeholder {
    color: rgba(colors.$text, .5);
  }
}
