@use '~@cezembre/fronts/dist/layouts';
@use '~@cezembre/fronts/dist/screens';
@use "../styles/fonts";
@use "../styles/colors";
@use "../styles/forms";

.cezembre-ui-select {
  display: inline-block;
  min-width: 150px;

  &.full-width {
    width: 100%;
  }

  > label {
    @include forms.label;
  }

  > .container {
    position: relative;

    > .selector {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .selected {
        @include forms.input;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        position: relative;

        > span {
          @include fonts.JetBrainsMono(.9em, colors.$text, bold);
          text-align: left;
          flex: 1;
          padding: 8px 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &.placeholder {
            color: rgba(colors.$text, .5);
          }
        }

        > svg[stroke] {
          stroke: rgba(colors.$text, .5);
          margin-right: 12px;
        }
      }

      > .cancel {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: none;
        background: none;
        border-radius: 0;
        padding: 0;
        margin-left: 15px;
        cursor: pointer;

        > svg[stroke] {
          stroke: rgba(colors.$text, .2);
          margin-right: 12px;
        }
      }
    }

    > .options {
      @include layouts.modal;
      border-radius: 5px;
      padding: 4px 0;
      max-height: 300px;
      overflow: auto;
      box-shadow: 0 0 5px rgba(colors.$text, .1);
      border: solid rgba(colors.$text, .2) 1px;
      visibility: hidden;
      width: 100%;
      position: absolute;
      top: calc(100% + 4px);
      background: white;
      opacity: 0;
      transition: opacity linear 100ms;

      > .option {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        cursor: pointer;

        &:hover, &.active {
          background: rgba(colors.$text, .1);
        }

        > span {
          @include fonts.JetBrainsMono();
          display: block;
          text-align: left;
          padding: 8px 12px;
        }
      }
    }
  }

  &.active > .container > .options {
    visibility: visible;
    opacity: 1;
  }

  &.flat > .container {
    > .selector {
      border-bottom: solid rgba(colors.$text, .1) 1px;
      padding: 5px 10px;

      > .selected {
        border-radius: 0;
        border: none;
        background: none;

        &:hover {
          box-shadow: none;
        }
      }
    }

    > .options {
      @include layouts.page;
      visibility: visible;
      opacity: 1;
      position: relative;
      background: none;
      border: none;
      box-shadow: none;
      border-radius: 0;
      top: auto;
      padding: 5px 0 20px;

      > .option {
        padding: 5px 10px;
        border-radius: 5px;
        display: block;
        margin-top: 5px;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  > .instructions {
    @include fonts.JetBrainsMono(.9em, colors.$text);
    margin-top: 10px;
  }

  >.error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
