@use '~@cezembre/fronts/dist/layouts';
@use '~@cezembre/fronts/dist/screens';
@use "../styles/fonts";
@use "../styles/colors";
@use "../styles/forms";

.cezembre-ui-fields-select {
  width: 100%;

  > label {
    @include fonts.JetBrainsMono(.9em, colors.$lead, bold);
    letter-spacing: .05em;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;

    @include screens.tablet() {
      padding-bottom: 8px;
      font-size: .8em;
    }
  }

  > .container {
    position: relative;

    > .options {
      visibility: hidden;
      width: 100%;
      position: absolute;
      top: 100%;
      background: colors.$lead-light;
      border: solid colors.$lead 1px;
      border-top: none;
      opacity: 0;
      transition: opacity linear 100ms;
      @include layouts.modal();

      > .option {
        width: 100%;
        border-top: solid colors.$lead 1px;

        &:first-child {
          border: none;
        }

        > span {
          @include fonts.JetBrainsMono()
        }
      }
    }
  }

  > .instructions {
    @include fonts.JetBrainsMono(1em, black);
    margin-top: 10px;
  }

  &.active {
    > .container {
      > .options {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.flat {
    > .container {
      > .button {
        display: none;
        visibility: hidden;
      }

      > .options {
        visibility: visible;
        position: relative;
        opacity: 1;
        border-top: solid colors.$lead 1px;
        @include layouts.page();
      }
    }
  }

  >.error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
