@use '~@cezembre/fronts/dist/layouts';
@use '~@cezembre/fronts/dist/screens';
@use "../styles/fonts";
@use "../styles/colors";
@use "../styles/forms";

.cezembre-ui-select {
  display: inline-block;

  > label {
    @include forms.label;
  }

  > .container {
    position: relative;


    > button {
      @include forms.input;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      flex-shrink: 0;
      margin: 0;
      padding: 0;
      position: relative;
      transition: background linear 100ms, border linear 100ms;

      > span {
        @include fonts.JetBrainsMono(.9em);
        text-align: left;
        flex: 1;
        padding: 8px 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &.placeholder {
          color: colors.$text-medium;
        }
      }

      svg[stroke] {
        stroke: colors.$text;
        margin-right: 12px;
      }
    }

    > .options {
      @include layouts.modal;
      border-radius: 5px;
      padding: 4px 0;
      max-height: 300px;
      overflow: auto;
      box-shadow: 0 0 5px rgba(colors.$lead-dark, .15);
      visibility: hidden;
      width: 100%;
      position: absolute;
      top: calc(100% + 4px);
      background: white;
      opacity: 0;
      transition: opacity linear 100ms;

      > button.option {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        cursor: pointer;

        &:hover, &.active {
          background: colors.$background;
        }

        > span {
          @include fonts.JetBrainsMono;
          display: block;
          text-align: left;
          padding: 8px 12px;
        }
      }
    }
  }

  > .instructions {
    @include fonts.JetBrainsMono(.9em, colors.$text-medium);
    margin-top: 10px;
  }

  &.active > .container > .options {
    visibility: visible;
    opacity: 1;
  }

  >.error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
