@use '~@cezembre/fronts/dist/screens';
@use "../styles/fonts";
@use "../styles/colors";
@use "../styles/forms";

.cezembre-ui-fields-switch {
  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > .button {
      width: 50px;
      height: 30px;
      padding: 2px;
      background: colors.$background;
      border: solid colors.$border 1px;
      cursor: pointer;
      outline: none;
      position: relative;
      border-radius: 15px;

      > .status {
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: black;
      }

      &:focus {
        outline: none;
      }

      &[aria-pressed=true] {
        border: solid colors.$lead 1px;
        background: white;

        > .status {
          transform: translateX(20px);
          background: colors.$lead;
        }
      }
    }

    >label {
      @include fonts.JetBrainsMono(.9em, colors.$lead, bold);
      letter-spacing: .05em;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 20px;

      @include screens.tablet() {
        font-size: .8em;
        margin-left: 15px;
      }
    }
  }

  >.error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
