@use '~@cezembre/fronts/dist/screens';
@use "../styles/forms";
@use "../styles/fonts";
@use "../styles/colors";

.cezembre-ui-fields-textarea {
  width: 100%;

  > label {
    @include forms.label();
  }

  > textarea {
    @include fonts.JetBrainsMono();
    @include forms.input();
    display: block;
    flex: 1;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100%;

    &:active, &:focus {
      outline: none;
      text-decoration: none;
    }

    &::placeholder {
      color: rgba(colors.$lead, .3);
      font-style: italic;
    }
  }

  > .instructions {
    @include fonts.JetBrainsMono();
    margin-top: 10px;

    @include screens.tablet() {
      font-size: .9em;
    }
  }

  > .error, > .warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    @include screens.tablet() {
      margin-top: 10px;
    }

    > span {
      @include fonts.JetBrainsMono(.9em, colors.$error);
      margin-left: 10px;

      @include screens.tablet() {
        font-size: .9em;
      }
    }
  }

  > .warning {
    > span {
      color: colors.$lead;
    }
  }
}
