@use "../styles/fonts";
@use "../styles/colors";
@use "../styles/forms";

.cezembre-ui-fields-time-picker {
  height: 300px;

  > .container {
    display: flex;
    height: 100%;

    > ul  {
      border-left: solid rgba(colors.$lead, .1) 1px;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      list-style: none;

      &:first-child {
        border-left: none;
      }

      > li {
        margin: 0;
        padding: 0;
        display: list-item;

        > button {
          width: 100%;
          @include fonts.JetBrainsMono(1em);
          margin: 0;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 5px 25px 5px 15px;

          &:hover {
            background: rgba(colors.$lead, .1);
          }

          &.selected {
            background: colors.$lead;
            color: colors.$lead-light;

            &:hover {
              background: colors.$lead;
              color: colors.$lead-light;
            }
          }
        }
      }
    }
  }

  >.error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
