@use "../styles/forms";
@use "../styles/fonts";
@use "../styles/colors";

.cezembre-ui-fields-wysiwyg {
  width: 100%;

  > label {
    @include forms.label();
  }

  > .container {
    cursor: text;

    > .DraftEditor-root {
      > .public-DraftEditorPlaceholder-root {
        @include fonts.JetBrainsMono(1em, rgba(colors.$text, .5));
        font-style: italic;
        position: absolute;
        pointer-events: none;
      }

      > .DraftEditor-editorContainer {
        @include fonts.JetBrainsMono();
      }
    }

    .contextual-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid colors.$lead-dark;
        transform: translateY(-1px);
      }

      > .sections {
        background: colors.$lead-dark;
        border-radius: 5px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        > .section {
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: "";
            display: block;
            width: 1px;
            height: 15px;
            background: colors.$lead-light;
            margin: 0 8px;
          }

          &:first-child {
            &::before {
              display: none;
            }
          }

          > button {
            @include fonts.JetBrainsMono(1em, white);
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: none;
            outline: none;
            text-decoration: none;
            flex-shrink: 0;
            margin: 0;
            padding: 10px;
            background: transparent;

            &.bold {
              font-weight: bold;
            }

            &.italic {
              font-style: italic;
            }

            &.underline {
              text-decoration: underline;
            }

            &.header-one {
              font-size: 1.2em;
            }

            &.header-two {
              font-size: 1.1em;
            }

            &.blockquote {
              font-family: Times New Roman;
            }

            &.active {
              color: colors.$accent;
            }
          }
        }
      }
    }
  }

  @include forms.error();
  @include forms.warning();

  &.field > .container {
    @include forms.input();
    padding: 20px;
  }
}
