.cezembre-ui-button {
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  position: relative;
  transition: background linear 200ms, border linear 200ms;

  &.square {
    border-radius: 10px;
  }

  > .container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    > .body {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-shrink: 2;
      min-width: 0;

      > .left-icon {
        align-self: center;
        padding: 5px;
        flex-shrink: 0;
      }

      > span {
        @include JetBrainsMono(.9em, $color-lead, bold);
        align-self: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-shrink: 2;

        @include screen-laptop() {
          font-size: .8em;
        }

        @include screen-tablet() {
          font-size: .7em;
        }

      }

    }

    > .right-icon {
      align-self: center;
      padding: 5px 10px;
      flex-shrink: 0;

    }
  }

  > .pending {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: $color-lead;
    border-radius: 10px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 100ms, opacity linear 100ms;

  }

  &.small {
    height: 32px;

    &.round {
      border-radius: 16px;
    }

    > .container {
      padding: 0 8px;
    }

  }

  &.medium {
    height: 36px;

    &.round {
      border-radius: 18px;
    }

    > .container {
      padding: 0 10px;
    }
  }

  &.large {
    height: 40px;

    &.round {
      border-radius: 20px;
    }

    > .container {
      padding: 0 20px;
    }
  }

  &.filled {
    background: $color-lead;

    > .container > .body > span {
      color: $color-lead-light;
    }

    &:hover {
      background: $color-alternative;
    }

  }

  &.outlined {
    border: solid $color-lead 1px;

  }

  &.disabled {
    pointer-events: none;
    background: rgba(black, .1);

    > .container > .body {

      > .left-icon svg, > .right-icon svg {
        fill: rgba(black, .2);
      }

      > span {
        color: rgba(black, .2);
      }

    }

  }

  &.pending > .pending {
    visibility: visible;
    opacity: 1;
  }

}
