.ui-fields-checkbox {

  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    >label {
      @include JetBrainsMono(.9em, $color-lead, bold);
      letter-spacing: .05em;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 20px;

      @include screen-tablet() {
        font-size: .8em;
        margin-left: 15px;
      }

    }
  }

}
