$color-lead: #0D1DFF;
$color-lead-light: #E5F2FF;

$color-alternative: #5800E8;
$color-alternative-light: #FFCBE3;

$color-accent: #FFC84D;

$color-warning: #eaa63b;
$color-error: #e35656;

$color-background: #eee;
$color-placeholder: #e5e5e5;
$color-border: #c7c7c7;
$color-text: #535353;
$color-text-medium: #797979;
$color-text-light: #b8b7b7;
