$color-lead: #0D1DFF;
$color-lead-light: #E5F2FF;

$color-alternative: #5800E8;
$color-alternative-light: #FFCBE3;

$color-accent: #FFC84D;

$color-warning: #eaa63b;
$color-error: #e35656;

$color-background-grey: #eee;
$color-placeholder-grey: #e5e5e5;
$color-border-grey: #c7c7c7;
$color-text: #313131;
