$lead-dark: #01066a;
$lead: #0D1DFF;
$lead-light: #E5F2FF;

$alternative: #5800E8;
$alternative-light: #FFCBE3;

$accent: #FFC84D;

$warning: #eaa63b;
$error: #e35656;

$background: #f5f7fd;
$border: #d4d4e0;
$placeholder: #eceef6;

$text: #1f2265;
$text-medium: #777ab1;
$text-light: #cacad5;
