.ui-fields-date-picker {
  position: relative;

  > .picker {
    height: 300px;
    width: 265px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.expandable {
      @include popup-layout();
      border: solid rgba($color-lead, .1) 1px;
      box-shadow: 0 0 10px rgba($color-lead, .2);
      position: absolute;
      background: $color-lead-light;
      top: calc(100% + 5px);
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity linear 100ms;

    }

    &.expanded {
      visibility: visible;
      opacity: 1;
    }

    > .month {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > button {
        background: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 10px;
        cursor: pointer;
      }

      > span {
        @include JetBrainsMono(1em);
      }

    }

    > .days-of-week {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      > span {
        @include JetBrainsMono(.9em);
        text-transform: uppercase;
      }

    }

    > .days {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      align-items: center;

      > .day {
        @include JetBrainsMono(1em);
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;

        &:hover {
          background: rgba($color-lead, .1);
        }

        &:disabled {
          color: black;
          cursor: default;

          &:hover {
            background: none;
          }

        }

        &.selected {
          background: $color-lead;
          color: $color-lead-light;
        }

      }

      > .placeholder {
        width: 35px;
        height: 35px;
      }

    }
  }

}
