@use "colors";

@mixin font($fontFamily: sans-serif, $size: 1em, $color: colors.$text, $weight: normal) {
  font-family: $fontFamily;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  transition: color ease-out 100ms, font-size ease-out 100ms;
}

$JetBrainsMono: JetBrains Mono;

@mixin JetBrainsMono($size: 1em, $color: colors.$text, $weight: normal) {
  @include font($JetBrainsMono, $size, $color, $weight);
}
