@use 'colors';
@use 'fonts';

@mixin label {
  @include fonts.JetBrainsMono(.85em);
  letter-spacing: .05em;
  padding-bottom: .7em;
  padding-left: 1em;
  display: inline-block;
}

@mixin input {
  transition: border linear 100ms, background linear 100ms, box-shadow linear 100ms;
  border: solid colors.$placeholder 1px;
  background: colors.$placeholder;
  box-shadow: 0 0 5px rgba(colors.$lead-dark, 0);
  border-radius: 5px;
  width: 100%;

  &:hover {
    box-shadow: 0 0 5px rgba(colors.$lead-dark, .15);
    border-color: colors.$border;
  }

  &:focus, &.active {
    background: white;
    border-color: colors.$border;
  }
}

@mixin field {
  margin-top: 20px;

  &:first-child {
    margin: 0;
  }
}

@mixin error {
  @include fonts.JetBrainsMono(.8em, colors.$error);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;

  > svg[stroke] {
    stroke: colors.$error;
  }

  > span {
    margin-left: 10px;
  }
}

@mixin warning {
  @include fonts.JetBrainsMono(.8em, colors.$warning);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;

  > svg[stroke] {
    stroke: colors.$warning;
  }

  > span {
    margin-left: 10px;
  }
}

@mixin instructions {
  @include fonts.JetBrainsMono(.8em);
  padding-top: .8em;
  padding-left: 1em;
  display: inline-block;
}

@mixin submit {
  margin-top: 30px;
}

@mixin form {
  > .field {
    @include field;
  }

  > .error {
    @include error;
  }

  > .warning {
    @include error;
  }

  > .submit {
    @include submit;
  }
}
