@mixin Form {
  > .field {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  > .error {
    @include JetBrainsMono(.9em, $color-error);
    text-align: center;
    margin-top: 20px;
  }

  > .submit {
    margin-top: 30px;
  }
}

.cezembre-ui-form {
  @include Form;
}
