@use "~@cezembre/fronts/dist/screens";
@use "../styles/fonts";
@use "../styles/colors";

.cezembre-ui-button {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  text-decoration: none;
  flex-shrink: 0;
  margin: 0;
  padding: 0 15px;
  background: transparent;
  position: relative;
  transition: background linear 100ms, border linear 100ms;

  > .container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    svg {
      display: block;
      transition: stroke linear 100ms;
      stroke: colors.$lead;
    }

    > .body {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-shrink: 2;
      min-width: 0;

      > .left-icon {
        align-self: center;
        flex-shrink: 0;
        margin-right: 10px;
      }

      > span {
        @include fonts.JetBrainsMono(1em, colors.$lead);
        align-self: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-shrink: 2;
      }
    }

    > .right-icon {
      align-self: center;
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  > .pending {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: colors.$lead;
    border-radius: 8px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 100ms, opacity linear 100ms;
  }

  &.full-width {
    width: 100%;
  }

  &.centered {
    > .container {
      justify-content: center;
    }
  }

  &.rounded {
    border-radius: 8px;
  }

  &.small {
    height: 32px;

    &.round {
      border-radius: 16px;
    }

    > .container > .body > span {
      padding: 0 10px;
    }
  }

  &.medium {
    height: 36px;

    &.round {
      border-radius: 18px;
    }
  }

  &.large {
    height: 40px;

    &.round {
      border-radius: 20px;
    }
  }

  &.filled {
    background: colors.$lead;

    > .container {
      svg {
        stroke: colors.$lead-light;
      }

      > .body > span {
        color: colors.$lead-light;
      }
    }

    &:hover, &.active {
      background: colors.$alternative;
    }
  }

  &.outlined {
    border: solid colors.$lead 1px;

    &:hover, &.active {
      background: colors.$lead;

      > .container {
        svg {
          stroke: colors.$lead-light;
        }

        > .body > span {
          color: colors.$lead-light;
        }
      }
    }
  }

  &.text {
    &:hover, &.active {
      background: colors.$lead;

      > .container {
        svg {
          stroke: colors.$lead-light;
        }

        > .body > span {
          color: colors.$lead-light;
        }
      }
    }
  }

  &.link {
    > .container {
      svg {
        stroke: colors.$text-medium;
      }

      > .body > span {
        color: colors.$text-medium;
      }
    }

    &:hover {
      background: white;
    }

    &.active {
      background: white;

      > .container {
        svg {
          stroke: colors.$text;
        }

        > .body > span {
          color: colors.$text;
          font-weight: bold;
        }
      }
    }
  }

  &.namespace {
    > .container {
      svg {
        stroke: colors.$text-medium;
      }

      > .body > span {
        color: colors.$text-medium;
      }
    }

    &:hover {
      background: white;
    }

    &.active {
      > .container {
        svg {
          stroke: colors.$text;
        }

        > .body > span {
          color: colors.$text;
          font-weight: bold;
        }
      }
    }
  }

  &.light {
    &.text {
      svg {
        stroke: colors.$text-light;
      }

      > .container > .body > span {
        color: colors.$text-light;
      }

      &:hover {
        background: none;

        svg {
          stroke: colors.$text-medium;
        }

        > .container > .body > span {
          color: colors.$text-medium;
        }
      }

      &.active {
        background: none;

        svg {
          stroke: colors.$lead;
        }

        > .container > .body > span {
          color: colors.$lead;
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;
    background: colors.$background;

    > .container > .body {
      > .left-icon svg, > .right-icon svg {
        stroke: colors.$placeholder;
      }

      > span {
        color: colors.$placeholder;
      }
    }
  }

  &.pending > .pending {
    visibility: visible;
    opacity: 1;
  }
}
