@use "~@cezembre/fronts/dist/screens";
@use "../styles/fonts";
@use "../styles/colors";

.cezembre-ui-button {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  text-decoration: none;
  flex-shrink: 0;
  margin: 0;
  padding: 0 15px;
  background: transparent;
  position: relative;
  transition: background linear 100ms, border linear 100ms, box-shadow linear 100ms;
  box-shadow: 0 0 5px rgba(colors.$lead-dark, 0);

  > .container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    svg[stroke] {
      display: block;
      transition: stroke linear 100ms;
      stroke: colors.$text-medium;
    }

    > .body {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-shrink: 2;
      min-width: 0;

      > .left-icon {
        align-self: center;
        flex-shrink: 0;
        margin-right: 10px;
      }

      > span {
        @include fonts.JetBrainsMono(1em, colors.$text-medium);
        align-self: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-shrink: 2;
      }
    }

    > .right-icon {
      align-self: center;
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  > .pending {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: colors.$text-medium;
    border-radius: 8px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 100ms, opacity linear 100ms;
  }

  &.full-width {
    width: 100%;
  }

  &.centered {
    > .container {
      justify-content: center;
    }
  }

  &.rounded {
    border-radius: 8px;
  }

  &.small {
    height: 32px;

    &.round {
      border-radius: 16px;
    }

    > .container > .body > span {
      padding: 0 10px;
    }
  }

  &.medium {
    height: 36px;

    &.round {
      border-radius: 18px;
    }
  }

  &.large {
    height: 40px;

    &.round {
      border-radius: 20px;
    }
  }

  &.default {
    &.filled {
      background: colors.$placeholder;
      border: solid colors.$placeholder 1px;

      &:hover, &.active {
        border-color: colors.$border;
        box-shadow: 0 0 5px rgba(colors.$lead-dark, .15);

        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
          }
        }
      }
    }

    &.outlined {
      border: solid colors.$border 1px;

      &:hover, &.active {
        background: colors.$background;

        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
          }
        }
      }
    }

    &.text {
      &:hover, &.active {
        background: colors.$placeholder;

        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
          }
        }
      }
    }

    &.link {
      > .container {
        svg[stroke] {
          stroke: colors.$text-medium;
        }

        > .body > span {
          color: colors.$text-medium;
        }
      }

      &:hover {
        background: white;
      }

      &.active {
        background: white;

        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
            font-weight: bold;
          }
        }
      }
    }

    &.namespace {
      > .container {
        svg[stroke] {
          stroke: colors.$text-medium;
        }

        > .body > span {
          color: colors.$text-medium;
        }
      }

      &:hover {
        background: white;
      }

      &.active {
        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
            font-weight: bold;
          }
        }
      }
    }
  }

  &.alert {
    &.filled {
      background: colors.$error;

      > .container {
        svg[stroke] {
          stroke: white;
        }

        > .body > span {
          color: white;
        }
      }

      &:hover, &.active {
        background: colors.$alternative;
      }
    }

    &.outlined {
      border: solid colors.$error 1px;

      > .container {
        svg[stroke] {
          stroke: colors.$error;
        }

        > .body > span {
          color: colors.$error;
        }
      }

      &:hover, &.active {
        background: colors.$error;

        > .container {
          svg[stroke] {
            stroke: white;
          }

          > .body > span {
            color: white;
          }
        }
      }
    }

    &.text {
      &:hover, &.active {
        background: colors.$placeholder;

        > .container {
          svg[stroke] {
            stroke: colors.$lead;
          }

          > .body > span {
            color: colors.$lead;
          }
        }
      }
    }

    &.link {
      > .container {
        svg[stroke] {
          stroke: colors.$text-medium;
        }

        > .body > span {
          color: colors.$text-medium;
        }
      }

      &:hover {
        background: white;
      }

      &.active {
        background: white;

        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
            font-weight: bold;
          }
        }
      }
    }

    &.namespace {
      > .container {
        svg[stroke] {
          stroke: colors.$text-medium;
        }

        > .body > span {
          color: colors.$text-medium;
        }
      }

      &:hover {
        background: white;
      }

      &.active {
        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
            font-weight: bold;
          }
        }
      }
    }
  }

  &.lead {
    &.filled {
      background: colors.$lead;

      > .container {
        svg[stroke] {
          stroke: colors.$lead-light;
        }

        > .body > span {
          color: colors.$lead-light;
        }
      }

      &:hover, &.active {
        background: colors.$alternative;
      }
    }

    &.outlined {
      border: solid colors.$lead 1px;

      > .container {
        svg[stroke] {
          stroke: colors.$lead;
        }

        > .body > span {
          color: colors.$lead;
        }
      }

      &:hover, &.active {
        background: colors.$lead;

        > .container {
          svg[stroke] {
            stroke: colors.$lead-light;
          }

          > .body > span {
            color: colors.$lead-light;
          }
        }
      }
    }

    &.text {
      &:hover, &.active {
        background: colors.$placeholder;

        > .container {
          svg[stroke] {
            stroke: colors.$lead;
          }

          > .body > span {
            color: colors.$lead;
          }
        }
      }
    }

    &.link {
      > .container {
        svg[stroke] {
          stroke: colors.$text-medium;
        }

        > .body > span {
          color: colors.$text-medium;
        }
      }

      &:hover {
        background: white;
      }

      &.active {
        background: white;

        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
            font-weight: bold;
          }
        }
      }
    }

    &.namespace {
      > .container {
        svg[stroke] {
          stroke: colors.$text-medium;
        }

        > .body > span {
          color: colors.$text-medium;
        }
      }

      &:hover {
        background: white;
      }

      &.active {
        > .container {
          svg[stroke] {
            stroke: colors.$text;
          }

          > .body > span {
            color: colors.$text;
            font-weight: bold;
          }
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;
    background: colors.$background;

    > .container > .body {
      > .left-icon svg[stroke], > .right-icon svg[stroke] {
        stroke: colors.$placeholder;
      }

      > span {
        color: colors.$placeholder;
      }
    }
  }

  &.pending > .pending {
    visibility: visible;
    opacity: 1;
  }
}
