@use "../styles/fonts";
@use "../styles/colors";

.cezembre-ui-check {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20px;
  height: 20px;
  transition: border linear 100ms, background linear 100ms, box-shadow linear 100ms;
  background: white;
  border: solid colors.$border 1px;
  box-shadow: 0 0 5px rgba(colors.$lead-dark, 0);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;

  &:hover {
    box-shadow: 0 0 5px rgba(colors.$lead-dark, .15);
    border-color: colors.$border;
  }

  &:focus, &.active {
    border-color: colors.$border;
  }

  &.tag {
    width: auto;
    padding: 0 10px;
  }

  > svg {
    stroke: transparent;
    transition: stroke linear 100ms;
  }

  > span {
    @include fonts.JetBrainsMono();
  }

  &[aria-pressed=true] {
    > svg {
      stroke: colors.$text;
    }

    > span {
      color: colors.$text;
    }
  }
}
