@use "../styles/fonts";
@use "../styles/colors";

.cezembre-ui-datetime {
  @include fonts.JetBrainsMono(.8em);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  > .time {
    color: colors.$text-medium;
  }
}
