@use "~@cezembre/ui/dist/colors";
@use "~@cezembre/ui/dist/borders";
@use "~@cezembre/fronts/dist/containers";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;

  .App {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    > .namespaces-menu {
      height: 100%;
      width: 200px;
      padding: 10px;
      background: colors.$background;
      @include borders.border();
    }

    > .container {
      padding: 50px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      > .table {
        @include borders.border();
        background: white;
        padding: 30px;
        border-radius: 10px;
        margin-top: 30px;
      }
    }
  }
}
