@import "styles/animations";
@import "styles/colors";
@import "styles/fonts";
@import "styles/containers";
@import "styles/layouts";
@import "general/button";
@import "general/loader";
@import 'fields/input';
@import 'fields/textarea';
@import 'fields/select';
@import 'fields/checkbox';
@import 'fields/switch';
@import 'fields/dateTimePicker';
@import 'fields/datePicker';
@import 'fields/timePicker';
@import 'general/image';
@import 'general/avatar';
@import 'general/icon';
@import 'data/table';
