@import "styles/animations";
@import "styles/colors";
@import "styles/fonts";
@import "styles/containers";
@import "styles/layouts";
@import "styles/button";
@import "styles/loader";
@import 'styles/input';
@import 'styles/textarea';
@import 'styles/select';
@import 'styles/checkbox';
@import 'styles/switch';
@import 'styles/day';
@import 'styles/dateTimePicker';
@import 'styles/datePicker';
@import 'styles/timePicker';
@import 'styles/form';
