@use '../styles/colors';
@use '../styles/fonts';

table.cezembre-ui-table {
  width: 100%;
  table-layout: fixed;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  > thead {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;

    > tr {
      border: none;
      outline: none;
      margin: 0;
      padding: 0;

      > th {
        @include fonts.JetBrainsMono(.9em, colors.$text-light, bold);
        padding: 10px;
        border: none;
        outline: none;
        text-align: left;
      }
    }
  }

  > tbody {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;

    > tr {
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      transition: background linear 100ms;

      > td {
        margin: 0;
        border: none;
        outline: none;
        padding: 10px;

        &:first-child {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }

        > p {
          @include fonts.JetBrainsMono(.9em, colors.$text);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &.boolean {
            svg {
              stroke: colors.$text;
            }
          }
        }
      }
    }
  }

  &.clickable {
    > tbody > tr {
      cursor: pointer;

      &:hover {
        background: colors.$background;
      }
    }
  }
}
